* {
  box-sizing: border-box;
}

.body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 82px 33px;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.containerTitle {
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.containerForm {
  width: 310px;
}

@media (min-width: 769px) {
  .containerForm {
    min-width: 356px;
  }
}

.pictureContainer {
  border: greenyellow 5px outset;
  border-radius: 4px;
  margin-top: 20px;
  padding: 15px;
  background-color: red;
}

.containerDropzone {
  margin-top: 20px;
  width: 310px;
  height: 60px;
  background-color: blueviolet;
  border: greenyellow 5px outset;
}

@media (min-width: 769px) {
  .containerDropzone {
    width: 356px;
  }
}

.containerDropzoneP {
  color: whitesmoke;
  font-size: 16px;
}

.mostrarImagen {
  margin-top: 20px;
  border: greenyellow 5px outset;
  width: 310px;
  height: 310px;
}

@media (min-width: 769px) {
  .mostrarImagen {
    width: 356px;
    height: 356px;
  }
}
