.buttonMisPets {
  font-size: 14px;
  height: 60px;
  width: 50%;
  border-radius: 10px;
  border: 2px solid black;
  background-color: greenyellow;
}

.cardPet {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  width: 300px;
  border: 5px solid black;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cardPetImagen {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;
  max-height: 400px;
  width: 100%;
  border-bottom: 5px solid black;
}

.cardPetInfo {
  display: flex;
  margin: 5%;
}

.cardPetInfoContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
}

.cardPetInfoSubContainerName {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  text-align: left;
}
